
*.v2
*.json
*.dll
*.exe
PresentationMaker/.vs/PresentationMaker/v16/.suo
*.pdb
PresentationMaker/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.resx
PresentationMaker/obj/Debug/net5.0-windows/PresentationMaker.AssemblyInfo.cs
*.cache
PresentationMaker/obj/Debug/net5.0-windows/PresentationMaker.GeneratedMSBuildEditorConfig.editorconfig
*.resources
*.props
*.csproj
*.sln
*.targets
PresentationMaker/obj/Debug/net5.0-windows/PresentationMaker.csproj.FileListAbsolute.txt
PresentationMaker/PresentationMaker.csproj.user
*csproj.CopyComplete
